/* PARTY SECTION */

.party-container{
    width: 82.5%;
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00)), url('../resources/Vectorrr.png');
    margin:auto auto;
    background-repeat: cover no-repeat;
    max-height:600px;
    display: flex;
    justify-content: space-around;
    padding: 120px;
}

.party-container .title-1{
    color: #FFF;
    font-size: 64px;
    font-weight: 900;
    letter-spacing: 7.04px;
    margin:0 auto;
    /* padding:126px; */
}

.party-container .title-2{
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
}

.party-container button{
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    background-color: transparent;
    border: 0px;
}
