/* COMMON SHARED STYLES */
*{
    margin: 0px;
}

body {
    font-family: 'Merriweather', serif;
    /* margin-left: 140px;
    margin-right: 140px; */
    
  }

/* HEADER STYLES */
header{
    margin-top: 50px;
    margin-bottom: 120px;
}
.banner-container{
    /* height: 8.2%; */
    width: 1320px;
    height: 600px;
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00)), url('../resources/Banner\ Image.png');
    /* position:relative; */
    margin:auto auto;
    background-repeat: no-repeat;
}

.banner-content{
    text-align: center;
    color: white;
    width: 50%;
    margin:0 auto;
    padding: 130px 344px 170px 344px;
}

.banner-content h5{
    color: #FFF;
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 16px;
}

.banner-content h2{
    color: #FFF;
    font-size: 72px;
    font-weight: 900;
    margin-top: 0px;
}


/* DISCOUNT SECTION STYLES */

.discount-container{
    text-align: center;
    margin-bottom: 120px;
}

.discount-container .title1{
    color: #F00;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 48px;
}

.discount-container .title2{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}

.discount-container .title3{
    color: #070211;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 48px;
}


/* PARTY SECTION STYLES */

.party-container{
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00)), url('../resources/Vectorrr.png');
    margin:auto auto;
    background-repeat: no-repeat;

    background-size: 100% 100%, cover;
    background-position: center;
    display: flex;
    align-items: center;
    margin-bottom: 120px;

    width: 1320px;
    height: 600px;

}

.party-container .title-1{
    color: #FFF;
    font-size: 64px;
    font-weight: 900;
    letter-spacing: 7.04px;
    margin:0 auto;
    padding-top: 80px;
    padding-left: 80px;
    margin-bottom: 24px;
}

.party-container .title-2{
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    padding-top: 80px;
    padding-left: 80px;
    margin-bottom: 48px;
    line-height: 30px;
}

.party-container button{
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    background-color: transparent;
    border: 0px;
    padding:10px;
    margin-left: 80px;
    margin-bottom: 80px;
}

.party-container img{
    padding: 80px;
}


/* LOCATION STYLES */
.location-container{
    text-align: center;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    width: 1320px;
    height: 482px;
    margin:auto auto;
    padding-top: 100px;
    border-radius: 16px;
    margin-bottom: 120px;
}

.location-container .location-description{
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
}

.location-container .red-text{
    color: #F00;
}

.btn-primary{
    padding: 16px 32px;
    border-radius: 8px;
    background: #F00;
    color: white;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    border: 0px;
}


/* COMING SOON SECTION STYLES */

.comingsoon-container{
    display: flex;
    gap: 120px;
    margin:auto auto;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 120px;
    width: 1320px;
    height: 600px;
}


.description1{
    width: 650px;
}

.comingsoon-container .description1 .title-1{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}

.comingsoon-container .description1 .title-2{
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 22px;
    margin-top: 0px;
}

.comingsoon-container .description1 .title-3{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.comingsoonimg{
    /* margin-left: 120px; */
    /* margin-right: 130px; */
}

.comingsoonimg img{ 
    border: 15px solid red;
    padding: 49px;
    /* border-image: url('../resources/Rectangle\ 2.png') 30 round; */
    border-radius: 50%;
  }

  .description2{
    /* margin-left: 120px; */
  }

  .description2 .title-1{
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px;
  }

  .description2 .title-2{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-top: 0px;
    margin-bottom: 43px;
  }


  /* SALE SECTION STYLES */

  .sale-container{
    margin-bottom: 120px;
  }

  .sale-description{
    width: 66.75%;
    margin:auto auto;
    align-items: center;
    margin-top: 0px;
    text-align: center;
  }

  .sale-description .title-1{
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
  }
  
  .sale-description .title-2{
    color: #070211;
    font-size: 72px;
    font-weight: 900;
    margin-top: 0px;
    margin-bottom: 28px;
  }

  .sale-description .title-3{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    margin-bottom: 64px;
    padding: 0px 50px;
  }

  .sale-images{
    width: 1320px;
    height: 662px;
    background-image: url('../resources/Rectangle\ 1.png'), url('../resources/Rectangle\ 2.png');
    background-repeat: no-repeat;
    background-position: top right, bottom center;
    margin:auto auto;

  }

  .discount{
    position: relative;
    bottom:280px;
    right: 65px;
  }


  /* PORTFOLIO SECTION STYLES */

  .portfolio-container{
    margin:auto auto;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 665px;
    width: 1320px;
    height: 600px;
    padding: 0 30px;
    
  }

  .portfolio-container .title-1{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
  }

  .portfolio-container .title-2{
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 22px;
    margin-top: 0px;
  }

  .portfolio-container .title-3{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 48px;
    max-width: 890px;
  }

  /* .portfolio-images{
    max-width: 1280px;
  } */
  .portfolio-img{
    display: flex;
    
  }

  .portfolio-img img{
    border-radius: 16px;
    margin-bottom: 24px;
    margin-right: 24px;
    border: 5px solid transparent;
    width: 414px;
    height: 440px;
  }

  .portfolio-img img:hover{
    border: 5px solid goldenrod;
    border-radius: 30px;

  }



  /* NEWSLETTER SECTION STYLES */

  .newsletter-container{
    width: 1320px;
    height: 616px;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    text-align: center;
    margin:auto auto;
    align-items: center;
    margin-bottom: 120px;
  }


  .newsletter-container img{
    padding-top: 80px;
    margin-bottom: 40px;
  }

  .newsletter-container .title-1{
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    margin-top: 0px;
    margin-bottom: 22px;
  }

  .newsletter-container .title-2{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 48px;
    padding-left: 212px;
    padding-right: 212px;
  }

  .subscribe-container{
    margin-bottom: 80px;
  }

  .newsletter-container .subscribe-container input{
    width: 648px;
    height: 72px;
    color: rgba(7, 2, 17, 0.30);
    text-align: left;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    border-radius: 50px;
    background: #FFF;
    border: 0px;
    position: relative;
    left: 100px;
    padding-left: 30px;
    
  }

  .newsletter-container .subscribe-container .btn-subscribe{
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    width: 210px;
    height: 72px;
    border: 0px;
    position: relative;
    right: 100px;
  }


  /* FOOTER SECTION STYLES */

  .footer{
    background: #070211;
    /* padding: 120px 140px; */
    /* padding-top: 120px;
    padding-bottom: 120px; */
    padding: 120px 140px;
    width: 100%;
    
  }

  .line{
    background: rgba(255, 255, 255, 0.15);
    /* width: 1320; */
    margin-bottom: 50px;
    padding-left: 140px;
    padding-right: 140px;
  }

  footer .information-1{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px; /* 166.667% */
    /* width: 375px; */
    /* padding-left: 140px; */
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    padding-right: 135px;
  }

  footer .logos{
    text-align: center;
    margin-bottom: 50px;
    
  }

  footer .logos img{
    position: relative;
    margin-right: 24px;
  }

  footer .information-2{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    /* padding-right: 140px;
    padding-left: 140px; */
  }
